h1 {
  text-align: center;
  color: #182c4c;
  font-size: 100px;
  margin-top:0;
}

#center{
  text-align:center;
}

#txt {
    text-align:center;
}

.navfloat {
    text-align:center;
    list-style: none;
    overflow: hidden;
    margin: 25px;
    background-color: #dddddd;
}

.navfloat a {
   display:inline-block;
   text-decoration:none;
   padding: 11px 9px;
   font-size:15px;
   text-align:center;
   color: #778DA9;
}
.navfloat a.hover{
  color: #425d89;
}

.navfloat .search-container {
  float: right;
}
.navfloat input[type=text] {
    border: none;
    margin: 6px;
    padding: 4px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}

.navfloat .search-container button {
  float: right;
  padding: 13px 10px;
  margin-top: 5px;
  margin-right: 6px;
  background: #182c4c;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.navfloat .search-container button:hover {
  background: #778DA9;
}

h2 {
  color: #0D1B2A;
  font-size: 40px;
}

h3{
  color: #0D1B2A;
  font-size:30px;
}

h4 {
    color: #0D1B2A;
    font-size: 25px;
    margin:1px;
}

p{
color: #0D1B2A;
font-size: 20px;
margin:0;
line-height: 1.3;

}

li{
  color:#0D1B2A;
  font-size: 20px;
  margin:0 0 10px 0;
}
a:link {
  text-decoration:none;
  color: #182c4c;
}

a:visited {
  color: #182c4c;
}

a:hover {
  color: #425d89;
}

ul{
  list-style-type: none;
  margin:0;
  padding:10;
}

body {
  height: 100%;
  background-color:#778DA9;
  padding:10%
}
